Repository spiltbeans/npm-package-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:write, npm run lint:eslint, npm run lint:ts

.lintstagedrc:

{
    "*.ts": ["npm run format:write", "npm run lint:eslint", "npm run lint:ts"],
	"*.js": ["npm run format:write", "npm run lint:eslint"]
}

chore: add demos to eslint ignore
  eslint.config.mjs
Due: none

chore: add esm example demo of the project
  demos/esm/.gitignore
  demos/esm/README.md
  demos/esm/index.mjs
  demos/esm/package.json
Due: none

chore: add ts example demo of the project
  demos/ts/.gitignore
  demos/ts/README.md
  demos/ts/index.ts
  demos/ts/package.json
  demos/ts/tsconfig.json
Due: npm run format:write, npm run lint:eslint, npm run lint:ts

chore: add cjs example demo of the project
  demos/cjs/.gitignore
  demos/cjs/README.md
  demos/cjs/index.cjs
  demos/cjs/package.json
Due: none

chore: add esm, cjs, and ts example demos to project (#29)
  demos/cjs/.gitignore
  demos/cjs/README.md
  demos/cjs/index.cjs
  demos/cjs/package.json
  demos/esm/.gitignore
  demos/esm/README.md
  demos/esm/index.mjs
  demos/esm/package.json
  demos/ts/.gitignore
  demos/ts/README.md
  demos/ts/index.ts
  demos/ts/package.json
  demos/ts/tsconfig.json
  eslint.config.mjs
Due: npm run format:write, npm run lint:eslint, npm run lint:ts

test: add tests for our package
  .gitignore
  jest.config.ts
  test/world.test.ts
Due: npm run format:write, npm run lint:eslint, npm run lint:ts

ci: add continuous integration github action
  .github/workflows/ci.yml
  package.json
Due: none

test: add tests and ci github action (#30)
  .github/workflows/ci.yml
  .gitignore
  jest.config.ts
  package.json
  test/world.test.ts
Due: npm run format:write, npm run lint:eslint, npm run lint:ts

chore: duplicate declaration files during bundle for esm and cjs
  rollup.config.js
Due: npm run format:write, npm run lint:eslint

chore: add multiple entry points for esm and cjs
  package.json
Due: none

chore: add sideEffects false to `package.json`
  package.json
Due: none

build: duplicate declaration files and modify package entry points for cjs and esm (#33)
  package.json
  rollup.config.js
Due: npm run format:write, npm run lint:eslint

chore: add github package publish GitHub Action
  .github/workflows/publish.yml
Due: none

chore: add github package publish GitHub Action (#34)
  .github/workflows/publish.yml
Due: none

chore(main): release 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(main): release 1.0.0 (#27)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update configuration package name
  demos/cjs/package.json
  demos/esm/package.json
  demos/ts/package.json
  package-lock.json
  package.json
Due: none

fix: publish GitHub Action by updating configuration package name (#36)
  demos/cjs/package.json
  demos/esm/package.json
  demos/ts/package.json
  package-lock.json
  package.json
Due: none

chore(main): release 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(main): release 1.0.1 (#37)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: add corresponding article to README.md
  README.md
Due: none
